#modal {
    display:none;
}
#modal.active {
    display:block;
}
    #modal .background {
        position: absolute;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background: rgba(0,0,0,0.2);
    }
    #modal .content {
        position:absolute;
        top: 50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        min-width:75%;
        max-width: 600px;
        padding: 1em;
        background: #f1f1f1;
        border-radius: var(--modal-border-radius);
        overflow:hidden;
    }

    #modal .top-actions {
        position:absolute;
        top: 10px;
        right: 10px;
        display:flex;
        flex-direction: row;
        gap:10px;
    }
        #modal .top-actions .action {
            padding:0.2em 0.5em;
            border:1px solid grey;
            border-radius: 10px;
            cursor: pointer;
        }
        #modal .top-actions .action.exit {
            border-color: red;
        }